@{
    var TITLE = "Сіткова модель орієнтована на операції та події";
    var TASK_TITLE = "Задати дані";
}
<div class="navbar navbar-inverse navbar-fixed-top bg-dark text-white">
    <a href="/Home/Index/">@TITLE</a>
    <a href="/Operations/Index/" class="btn btn-success">@TASK_TITLE</a>
</div>
