
canvas {
    border: 1px solid black;
}
.verticalCenter{
}
#canvas {
    display: block;
    margin: auto;
    width: 640px;
    height: 480px;
    background-color: white;
}
.axis path, .axis line {
    fill: none;
    stroke: #333;
}

.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}

.axis text {
    font: 10px Arial;
}
